@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("react-big-calendar/lib/css/react-big-calendar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rbc-calendar{
  @apply flex-col-reverse !important;
  @apply gap-5 !important;
}

.rbc-selected {
  @apply bg-third  !important;
}

.rbc-button-link{
  @apply font-bold  !important;
}


.rbc-event:hover {
  @apply bg-six !important;
}

.rbc-event-content {
  @apply text-black !important;
}

input[type="checkbox"]:checked ~ .check_1 {
  @apply text-opacity-100;
  @apply bg-second;
  @apply rounded-md;
}
